{% extends 'base.html.twig' %}

{% block title %}{{  "register"|trans }}{% endblock %}

{% block body %}
    <h1>{{  "register"|trans }}</h1>

    {{ form_start(registrationForm, { attr: {novalidate: 'novalidate' }}) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.phoneNumber) }}
        {{ form_row(registrationForm.plainPassword) }}

        <button class="btn">{{ "register.button"|trans }}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
