{% extends 'base.html.twig' %}

{% block title %}{{ "registration_form.register"|trans }}{% endblock %}

{% block body %}
    <div class="sign-up container">
        <div class="row">
            <div class="sign-up__form col-md-6 col-lg-5">
                <a href="{{ path('app_login') }}" class="sign-up__login-link link -underline">{{ "registration_form.already-registered"|trans }}</a>
                <h1>{{ "registration_form.register"|trans }}</h1>

                {{ form_start(registrationForm, { attr: {novalidate: 'novalidate', class: 'form'}}) }}
                <div class="form__fields">
                    <div class="form__field form__field--half">
                        {{ form_widget(registrationForm.firstname) }}
                        {{ form_label(registrationForm.firstname) }}
                    </div>

                    <div class="form__field form__field--half">
                        {{ form_widget(registrationForm.lastname) }}
                        {{ form_label(registrationForm.lastname) }}
                    </div>
                </div>
                <div class="form__fields form__error">
                        {{ form_errors(registrationForm.firstname) }}
                        {{ form_errors(registrationForm.lastname) }}
                    </div>

                <div class="form__field">
                    {{ form_widget(registrationForm.username) }}
                    {{ form_label(registrationForm.username) }}
                </div>
                <div class="form__error">
                    {{ form_errors(registrationForm.username) }}
                </div>

                <div class="form__field">
                    {{ form_widget(registrationForm.email) }}
                    {{ form_label(registrationForm.email) }}
                </div>
                <div class="form__error">
                    {{ form_errors(registrationForm.email) }}
                </div>

                <div class="form__field">
                    {{ form_widget(registrationForm.phoneNumber) }}
                    {{ form_label(registrationForm.phoneNumber) }}
                </div>
                <div class="form__error">
                    {{ form_errors(registrationForm.phoneNumber) }}
                </div> 

                <div class="form__field">
                    {{ form_widget(registrationForm.plainPassword) }}
                    {{ form_label(registrationForm.plainPassword) }}
                </div>
                <div class="form__error">
                    {{ form_errors(registrationForm.plainPassword) }}
                </div>

                <button class="btn -full">{{ "registration_form.register.button"|trans }}</button>

                {{ form_end(registrationForm) }}
            </div>
            <div class="sign-up__hero col-md-6 col-lg-6">
                <img src="{{ asset('build/images/illiustration-signup.svg') }}" alt="Man jumping into water">
            </div>
        </div>
{% endblock %}
