{% extends 'admin.html.twig' %}

{% block title %} {{ "contractor_page.welcome"|trans({'%name%': app.user.firstname}, "messages") }}{% endblock %}

{% block body %}
    
    {% include('register-modal.html') with {'text': 'Add existing reservation'} %}
    <div id="admin" data-key="{{ app.user.verificationKey }}" data-username="{{ app.user.username }}">
    </div> 
    {% block javascripts %}
        {{ encore_entry_script_tags('admin') }}
        {{ encore_entry_script_tags('datepicker') }}
    {% endblock %}
{% endblock %}
