{% extends 'admin.html.twig' %}

{% block title %} {{ "contractor_page.welcome"|trans({'%name%': app.user.firstname}, "messages") }}{% endblock %}

{% block body %}
    <div id="admin" data-key="{{ app.user.verificationKey }}">
    </div> 
    {% block javascripts %}
        {{ encore_entry_script_tags('admin') }}
        <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
        <script src="{{ url('bazinga_jstranslation_js') }}"></script>
    {% endblock %}
{% endblock %}
