{% extends 'base.html.twig' %}

{% block title %}{{ "lost_password.title"|trans }}{% endblock %}

{% block body %}
<main class="login">
    <div class="container">
            <div class="login__window col-lg-5">
                <h1>{{ "lost_password.title"|trans }}</h1>
                <p>{{ "lost_password.description"|trans }}</p><br>

                <form class="form" method="POST" action="{{ path('app_lost-password-submit') }}">
                    <div class="form__field">
                        <input type="text" name="username" required/>
                        <label for="username">{{ "lost_password.username"|trans }}</label>
                    </div>
                    {% if errors is defined %}
                        {% for error in errors %}
                            <div class="form__error" style="margin-top: 5%">
                                {{  error|trans }}
                            </div>
                        {% endfor %}
                        <br>
                    {% endif %}

                    <button class="btn -full">{{"lost_password.submit"|trans}} </button>
                </form>
            </div>
    </div>
</main>
    {% endblock %}
