{% extends 'base.html.twig' %}

{% block title %}{{ "reset_password.title"|trans }}{% endblock %}

{% block body %}
    <div class="login">
        <div class="container">
            <div class="login__window col-lg-5">
                <h1>{{ "reset_password.title"|trans }}</h1>
                <p>{{ "reset_password.description"|trans }}</p><br>

                <form class="form" method="POST" action="{{ path('app_password-reset-submit', {key: key}) }}">
                    {% if errors is defined %}
                        {% for error in errors %}
                            <p>{{ error|trans }}</p>
                        {% endfor %}
                        <br>
                    {% endif %}

                    <div class="form__field">
                        <input type="password" name="password1" required/>
                        <label for="password1">{{ "reset_password.password"|trans }}</label>
                    </div>

                    <div class="form__field">
                        <input type="password" name="password2" required/>
                        <label for="password2">{{ "reset_password.password"|trans }}</label>
                    </div>

                    <button class="btn -full">{{"reset_password.submit"|trans}} </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
