<section class="hero">
  <div class="container -top-spacing">
      <h1 class="hero__title">
          {{ "home.hero_title"|trans }} 
      </h1>
      <p class="hero__text">
          {{ "home.hero_text"|trans }}
      </p>
      
      <button class="hero__cta btn -black">
          {{ "home.cta"|trans }}
      </button>  

  </div>
</section>

<section class="demo">
  <svg class="demo__wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#FFC600" fill-opacity="1" d="M0,96L48,112C96,128,192,160,288,170.7C384,181,480,171,576,192C672,213,768,267,864,261.3C960,256,1056,192,1152,154.7C1248,117,1344,107,1392,101.3L1440,96L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
  <div class="container row justify-content-center">
    <img 
      src="{{ asset('build/images/home/hero/crm-demo.svg' )}}"
      alt="customer relationship management system demonstration"
      class="demo__img -desktop col-12 col-xl-10" 
    />

      <img 
      src="{{ asset('build/images/home/hero/crm-demo-mobile.svg' )}}"
      alt="customer relationship management system demonstration"
      class="demo__img -mobile col-10 col-sm-8 col-xl-10"
    />
  </div>
</section>

