{% extends 'base.html.twig' %}

{% block title %}{{ "registration_form.register"|trans }}{% endblock %}

{% block body %}
    <h1>{{ "registration_form.register"|trans }}</h1>

    {{ form_start(registrationForm, { attr: {novalidate: 'novalidate' }}) }}
        {{ form_row(registrationForm.contractor) }}
        {{ form_row(registrationForm.visitDate) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.email) }}

        <button class="btn">{{ "registration_form.register.button"|trans }}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
