{% extends '/emails/template.html.twig' %}

{% block heading %}
    <div style="font-family:Poppins, Helvetica;font-size:20px;font-weight:bold;line-height:1;text-align:left;color:#1A1A1A;">
        {{ "email.heading.registered"|trans }}
        📅
    </div>
{% endblock %}
{% block text %}
    <div style="font-family:Poppins, Helvetica;font-size:16px;line-height:24px;text-align:left;color:#637381;">
        {{ "email.registration.text"|trans }} <br>
        {{ "email.details.provider"|trans({'%provider%': provider}) }} <br>
        {{ "email.details.date"|trans({'%date%': date}) }}
    </div>
{% endblock %}


{% block button %}
    <td align="center" bgcolor="#FFC600" role="presentation"
        style="border:none;border-radius:3px;cursor:auto;mso-padding-alt:10px 25px;background:#FFC600;" valign="middle">
        <a href="{{ url('client_activate', {verificationKey: key}) }}"
           style="display:inline-block;background:#FFC600;color:#1A1A1A;font-family:Poppins, Helvetica;font-size:16px;font-weight:600;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:10px 25px;mso-padding-alt:0px;border-radius:3px;"
           target="_blank">
            {{ "email.button.verify"|trans }}
        </a>
    </td>
{% endblock %}

{% block alternatelink %}
    <div style="font-family:Poppins, Helvetica;font-size:16px;line-height:1;text-align:center;text-decoration:underline;color:#1A1A1A;">
        <a href="{{ url('client_activate', {verificationKey: key}) }}"
            target="_blank">
            {{ url('client_activate', {verificationKey: key}) }}
        </a>
    </div>
{% endblock %}