{% extends '/emails/review-template.html.twig' %}

{% block heading %}
	<div style="font-family:Poppins, Helvetica;font-size:20px;font-weight:bold;line-height:1;text-align:left;color:#1A1A1A;">
		{{ 'email.review'|trans }}
	</div>
{% endblock %}
{% block text %}
	<div 
		style="
			font-family:Poppins, Helvetica;
			font-size:16px;
			line-height:24px;
			text-align:left;
			font-weight:600;
			color:#1A1A1A;
			margin-top: 24px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;
			"
		>
		<a
			href="{{ url('review_star', {key: hash, starCount: 1}) }}"
			style="
				color:#1A1A1A;
				text-decoration: none;
				padding: 8px 12px;
				margin-right: 8px;
				background-color: #FFC600;
			"
		>
		★ 1
		</a>
			<a
			href="{{ url('review_star', {key: hash, starCount: 2}) }}"
			style="
			color:#1A1A1A;
				text-decoration: none;
				padding: 8px 12px;
				margin-right: 8px;
				background-color: #FFC600;
			"
		>
		★ 2
		</a>
			<a
			href="{{ url('review_star', {key: hash, starCount: 3}) }}"
			style="
			color:#1A1A1A;
				text-decoration: none;
				padding: 8px 12px;
				margin-right: 8px;
				background-color: #FFC600;
			"
		>
		★ 3
		</a>
			<a
			href="{{ url('review_star', {key: hash, starCount: 4}) }}"
			style="
			color:#1A1A1A;
				text-decoration: none;
				padding: 8px 12px;
				margin-right: 8px;
				background-color: #FFC600;
			"
		>
		★ 4
		</a>
			<a
			href="{{ url('review_star', {key: hash, starCount: 5}) }}"
			style="
			color:#1A1A1A;
				text-decoration: none;
				padding: 8px 12px;
				margin-right: 8px;
				background-color: #FFC600;
			"
		>
		★ 5
		</a>
	</div>
{% endblock %}

y