<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <n class="container">
                <div class="header__left">
                    <a href="{{ path('home') }}">
                        <img src="{{ asset('build/images/nnizer-logo.svg') }}" alt="nnizer type logotype" class="header__logo">
                    </a>
                </div>
                <div class="header__right">
                    <ul class="header__nav">
                    {% if is_granted('ROLE_CONTRACTOR') %}
                        <a class="header__link" href="{{ path('contractor') }}">{{ "navigation.reservations"|trans }}</a>
                        <a class="header__link -primary" href="{{ path('app_logout') }}">{{ "navigation.logout"|trans }}</a>
                    {% else %}
                        {% if app.request.pathinfo != "/login" %}
                            <a
                                href="{{ path('app_login') }}"
                                class="header__link"
                            >
                            {{ "navigation.login"|trans }}
                            </a>
                        {% endif %}
                        {% if app.request.pathinfo != "/register" %}
                            <a 
                                href="{{ path('app_register') }}"
                                class="header__link -primary"
                            >
                            {{ "navigation.signup"|trans }}
                            </a>
                        {% endif %}    
                    {% endif %}
                    </ul>
                </div>
            </div>
        </header>
        {% block body %}{% endblock %}

        <footer class="footer">
            <div class="footer__languages">
                <a class="footer__lang-switcher" href="{{ path('language', {lang: 'lt'}) }}">
                    <img src="{{ asset('build/images/LT-flag.svg')}}" alt="Lithuanian flag">
                </a>
                <a class="footer__lang-switcher" href="{{ path('language', {lang: 'en'}) }}">
                    <img src="{{ asset('build/images/EN-flag.svg')}}" alt="Great Britain flag">
                </a>
            </div>

            <img
                src="{{ asset('build/images/nnizer-logo-light.svg') }}"
                alt="nnizer light logo"
                class="footer__logo"
            >

            <p class="footer__message">
                {{ "home.footer_text1"|trans }}
                <img class="footer__heart" src="{{ asset('build/images/heart.svg') }}" alt="orange heart icon">
                {{ "home.footer_text2"|trans|raw }}
            </p>
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
