<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <div class="container">
                <div class="header__left">
                    <a href="{{ path('home') }}"><img src="{{ asset('build/images/nnizer-logo.svg') }}" alt="nnizer type logotype" class="header__logo"></a>
                </div>
                <div class="header__right">
                    {% if is_granted('ROLE_CONTRACTOR') %}
                        <a class="btn" href="{{ path('app_logout') }}">{{ "navigation.logout"|trans }}</a>
                    {% else %}
                        {% if app.request.pathinfo != "/register" %}
                            <a href="{{ path('app_register') }}" class="btn btn--header">{{ "navigation.signup"|trans }}</a>
                        {% endif %}    
                        {% if app.request.pathinfo != "/login" %}
                            <a href="{{ path('app_login') }}" class="btn btn--secondary btn--header">{{ "navigation.login"|trans }}</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </header>
        <footer style="position: fixed; bottom: 10%; left: 20px; width: 100%; font-size: 20px">
            <div class="container">
                <a class="footer__lang-switcher" href="{{ path('language', {lang: 'lt'}) }}">
                    <img src="{{ asset('build/images/LT-flag.svg')}}" alt="Lithuanian flag">
                </a>
                <a class="footer__lang-switcher" href="{{ path('language', {lang: 'en'}) }}">
                    <img src="{{ asset('build/images/EN-flag.svg')}}" alt="Great Britain flag">
                </a>
            </div>
        </footer>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
